<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- meta description -->
    <meta name="description"
        content="Home page for the Career Helper App that helps engineers land their dream engineering jobs">
    <!-- meta keywords -->
    <meta name="keywords"
        content="career helper, register, careers, engineering jobs, engineer careers, career placement, employment">
    <!-- meta author -->
    <meta name="author" content="Amanda Au-Yeung, Yian Chen">
    <link rel="icon" href="/img/C.png" />
    <link rel="stylesheet" type="text/css" href="/css/about.css">
    <!--Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Open+Sans:wght@300&family=Poppins:wght@100;400&display=swap"
        rel="stylesheet">
    <title>Career Helper About</title>
</head>

<body>
    <h1>About</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam quibusdam animi optio consequuntur tempore,
        similique adipisci ad at nisi amet. Deserunt deleniti nihil non porro distinctio reiciendis hic at facere!</p>
</body>

</html>