* {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
}
body {
  min-height: 100%;
  background-color: #ffffff;
}
#mainNavbar {
  padding-top: 1%;
}
nav {
  padding-bottom: 10%;
  /* background: #532cff; */
}

.container {
  display: flex;
  justify-content: center;
}

#navLinks {
  justify-content: start;
}

nav {
  transition: background 0.5s;
}

nav.scrolled {
  background: #532cff;
}

#login {
  display: inline-block;
  /* box-sizing: border-box; */
  height: 3rem;
  background: #dbdfeb;
  opacity: 0.8;
  padding: 0px 25px;
  border-radius: 999em;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  vertical-align: bottom;
  white-space: nowrap;
  border: 3px solid #88a1ec;
}
#login:hover {
  background: #fff;
}

h1 {
  opacity: 0;
  animation: drop 0.4s linear forwards;
  letter-spacing: -1px;
  color: #3a0ca3;
  font-weight: bold;
  text-align: center;
  font-size: 4rem;
}

@keyframes drop {
  0% {
    transform: translateY(-200px) scaleY(0.9);
    opacity: 0;
  }
  5% {
    opacity: 0.7;
  }
  50% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
  65% {
    transform: translateY(-17px) scaleY(0.9);
    opacity: 1;
  }
  75% {
    transform: translateY(-22px) scaleY(0.9);
    opacity: 1;
  }
  100% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
}
a {
  color: #5469d4;
  text-decoration: unset;
}

.main {
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 95vh;
  transform: skewY(-12deg);
}

.main1 {
  transform: translateY(-220px);
}

.unskew {
  transform: skewY(12deg);
  padding-top: 35%;
}

.content-box {
  display: block;
  width: 40%;
  text-align: center;
}

.tagline {
  padding-top: 2%;
  text-align: center;
  font-size: 20px;
  color: #17083b;
}

.foot {
  padding-top: 92vh;
  text-align: center;
}

#footer {
  font-weight: 400;
}
main {
  height: 100vh;
}

.content .section:nth-child(1) {
  background-color: #ffffff;
  height: 100vh;
}

.secondDiv {
  padding-top: 7%;
}

html {
  scroll-behavior: smooth;
}

aboutDiv {
  width: 300px;
  margin: auto;
}

.sub1,
.sub2,
.sub3,
.sub4,
.sub5 {
  border-top: 2px dashed;
  border-color: blue !important;
  margin: 0;
  padding: 30px;
}

.sub2,
.sub4 {
  border-left: 2px dashed;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-right: 30px;
  padding-right: 0;
}

.sub1,
.sub3,
.sub5 {
  border-right: 2px dashed;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: 30px;
  padding-left: 0;
}

.sub1 {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.sub5 {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.footerSec,
.copyFooter {
  background-color: #e2f4ff;
}

.left {
  padding-left: 5%;
}

.right {
  padding-right: 5%;
}


