.mainDiv {
  padding-top: 6%;
  background-color: rgb(233, 240, 252);
}

.header {
  padding-top: 1%;
  padding-bottom: 2%;
  text-align: center;
  color: rgb(41, 1, 109);
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card-body {
  height: 45vh;
}

#jobPosts {
  display: flex;
}

.inputDiv {
  padding-top: 2%;
  margin: auto;
}

#search-addon:hover {
  cursor: pointer;
}
