* {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
}

#mainNavbar {
  padding-top: 1%;
  padding-bottom: 1%;
}
nav {
  padding-bottom: 12%;
  background: #532cff;
}
.container {
  display: flex;
  justify-self: start;
}

#navLinks {
  justify-content: start;
}

nav {
  transition: background 0.5s;
}

nav.scrolled {
  background: #6746f9;
}

#logout {
  color: #ffffff;
  font-size: 1.1em;
  text-decoration: none;
}
